#buttonContainer button{
    width: 300px;
    
}

button{
    border: none;
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    background-color: #198754;
    color: white;
}

#stopRecording{
    background-color: #dc3545;
}