body {
    background: linear-gradient(135deg, #00ff99, #00ccff);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.rows{
    width: 100%;
}
.row{
    float: right;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.row button{
    margin: 20px;
    width: 200px;
    display: block;
}

#buttonContainer {
    width: 100%;
    gap: 25px;
    float: right;
}

h1, h2{
    font-family: "Honk", system-ui;
    font-size: 54px;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.rows button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #198754;
    color: white;
    font-size: 16px;
    margin: 5px;
    float: left;
}


#imageWrapper {
    display: inline-block;
    margin-right: 20px;
}


img {
    width: 650px;
    height: auto;
    margin-left: 50px;
    top: 350px;
    float: left;
    position: absolute;
}
.control-panel{
    font-size: 36px;
    float: right;
    margin-right: 450px;
    margin-top: 200px;
}
.control-panel button{
    width: 150px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #198754;
    color: white;
    font-size: 16px;
}


#stopRecording {
    background-color: #dc3545;
}


@media (max-width: 768px) {
    #buttonContainer {
        justify-content: center;
        margin: 0;
    }

    #buttonContainer button {
        width: 45%;
        padding: 10px;
        font-size: 14px;
    }

    img {
        width: 120px;
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {
    #buttonContainer {
        flex-direction: column;
        align-items: center;
    }

    #buttonContainer button {
        width: 80%;
    }

    img {
        width: 100px;
    }
}
